* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
}

h1 {
    background-color: #263858;
    color: #fff;
    padding: 16px;
}

h2 {
    padding: 10px 0 10px 20px;
}

img {
    width: 18px;
}

.left-container {
    max-width: 400px;
    padding: 16px;
}

.section-container {
    background-color: lightgrey;
    border-radius: 8px;
    margin-bottom: 10px;
}

.main-buttons {
    background-color: transparent;
    text-align: left;
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-section {
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 20px 20px 20px;
}

input[type="text"],
input[type="date"],
input[type="email"], /* Add email input style */
input[type="tel"],   /* Add number input style */
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    align-self: center;
    font-size: 16px;
    background-color: #007BFF; /* Background color for the buttons */
    color: white; /* Text color for the buttons */
    padding: 10px 20px; /* Padding around the buttons */
    border: none; /* Remove button border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker background color on hover */
}

.section {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.section.open {
    opacity: 1;
    max-height: 1000px;
}

.icon {
    display: flex;
   margin-left: auto;
}